

@use '../../../variables' as vars;

.container {
    background: vars.$background-image;
    background-position: vars.$background-position;
    width: vars.$background-width;
    height: vars.$background-height;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .btnhelp {
        position: fixed;
        top: 20px;
        left: 20px;
        font-size: 24px;
        padding: 12px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        font-weight: bold;
        box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
    }

    .btnhelp:hover {
        background-color: #0056b3;
    }


    .helpscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .helpcontent {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        width: 300px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

    .helptitle {
        font-family: 'Segoe UI', sans-serif;
        font-size: 24px;
        font-weight: 600;
        color: black;
        margin-bottom: 16px;
        border-bottom: 2px solid black;
        padding-bottom: 4px;
    }

    .helpcontent p {
        font-family: 'Arial', 'sans-serif';
        font-size: 18px;
        line-height: 1.6;
        color: #333333;
        margin-bottom: 20px;
    }

    .helpcontent p.superuser-note {
        font-weight: 600;
        color: #b22222; // dark red for emphasis
        margin-top: 10px;
    }

    .closebutton {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 36px;
        height: 36px;
        font-size: 22px;
        background-color: #c92f2f;
        border: none;
        color: #e4dcdc;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease, transform 0.2 ease;
    }

    .closebutton:hover {
        color: #d8cccc;
    }

    .title {
        font-size: 8rem;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px 4px rgba(0,0,0, 0.7);
    }
    
    .toggleButtons {

        margin-bottom: 2rem;

        button[datatype="btn-login"] {
            @include vars.button-with-icon('../../../assets/icon_login.png')
        }
        button[datatype="btn-signup"] {
            @include vars.button-with-icon('../../../assets/icon_signup.png')
        }
    }
    



}