

@use '../../../variables' as vars;

.container {

    background-image: vars.$background-image;
    background-size: vars.$background-size;
    background-position: vars.$background-position;
    width: vars.$background-width;
    height: vars.$background-height;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginBox {

        @include vars.auth-box();

        button {
            width: 20rem;
            margin: 0.5rem;
            padding: 0.5rem;
            background-color: vars.$login-button-color;
            color: white;
            border: none;
            cursor: pointer;
        }

        .forgotLink {
            color: #007bff;
            text-decoration: underline;
            cursor: pointer;
            margin-top: 10px;
            font-size: 0.9rem;
            background: none;
            border: none;
            padding: 0;
        }

        .passwordInput {
            position: relative;
            width: 100%;

       

        .eyeButton {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            margin: 0;
            font-size: 1.1rem;
            color: #666;
            display: flex;
            align-items: center;
            justify-content: center;
        }
}

        
    }


}