


@use '../../../variables' as vars;


.container {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    background-position: vars.$background-position;
    width: vars.$background-width;
    height: vars.$background-height;
    display: flex;
}